<a href="https://colab.research.google.com/github/mnoofi/my-colab-projects/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


emp1={"name":"ahmed","age":20,"postion":"devoloper","skills":["pyhton","logic"]}
emp2={"name":"ali","age":21,"postion":"designer","skills":["photoshop","ui"]}
emp3={"name":"adel","age":22,"postion":"data_analyist","skills":["excel","sql"]}
emp4={"name": "Amir","age":23,"postion":"hr","skills":["english","word"]}

company={"emp1":emp1,
               "emp2":emp2,
               "emp3":emp3,
               "emp4":emp4,

}
print(company)
df=pd.DataFrame(company)
df

{'emp1': {'name': 'ahmed', 'age': 20, 'postion': 'devoloper', 'skills': ['pyhton', 'logic']}, 'emp2': {'name': 'ali', 'age': 21, 'postion': 'designer', 'skills': ['photoshop', 'ui']}, 'emp3': {'name': 'adel', 'age': 22, 'postion': 'data_analyist', 'skills': ['excel', 'sql']}, 'emp4': {'name': 'Amir', 'age': 23, 'postion': 'hr', 'skills': ['english', 'word']}}

                    emp1             emp2           emp3             emp4
name               ahmed              ali           adel             Amir
age                   20               21             22               23
postion        devoloper         designer  data_analyist               hr
skills   [pyhton, logic]  [photoshop, ui]   [excel, sql]  [english, word]

In [10]:
score =85
if score <100:

  if score >=90:
   print("GRADE A")
  elif score>=80:
     print("GRADE B")
  elif score>=70:
     print("GRADE C")
  elif score>=60:
        print("GRADE D")
else:
   print("GRADE F")

GRADE B

In [43]:
for row in range(10):
  for column in range(10):
   if(column == 0 or column == 9 or(row == 0 and column ==0)or(row == 1 and column ==1)or(row == 2 and column ==2) or(row == 3 and column ==3)or(row == 4 and column ==4)or(row == 0 and column ==9)
   or(row == 1 and column ==8)or(row == 2 and column ==7)or(row == 3 and column ==6)or(row == 4 and column ==5)):
     print(" ",end="")
   else:
        print("*", end="")

  print()

 ********
  ******
 * **** *
 ** ** **
 ***  ***
 ********
 ********
 ********
 ********
 ********

In [45]:
numbers = [1,2,3,4,5]
maxnum=max(numbers)
print(maxnum)

5

In [47]:
words="my name is serag"
vowels="aeiou"
count=0
for char in words:
  if char in vowels:
    count +=1
print(count)

5

In [50]:
for n in range(1,20):
    if n>1:
      for i in range(2,n):
        if n % i == 0:
          break
      else:print(n)

2
3
5
7
11
13
17
19

In [67]:
a=0
b=1
for i in range(10):
  c=a+b
  print(a)
  a=b
  b=c

0
1
1
2
3
5
8
13
21
34

In [77]:
balance=1000
print("1-withdraw")
print("2-deposit")
print("balance")
choose= int(input("choose"))
if choose==1:
  amount= int(input("enter the amount of withdraw"))
  if amount<=balance:
   balance=balance-amount
   print("balance",balance)
  else:print("balance isnot enough")
elif choose ==2:
  amount=int(input("enter the amount of deposit"))
  balance=balance+amount
  print("balance",balance)
elif choose ==3:
  print("balance",balance)

1-withdraw
2-deposit
balance
choose1
enter the amount of withdraw1
balance 999

In [78]:
list1=[1,2,3]
list2=[1,4,5]
common=list(set(list1)& set(list2))
print(common)

[1]

In [81]:
n=5
factorial=1
for i in range(1,n+1):
  factorial=factorial*i
print(factorial)

120

In [95]:
password = input("enter the password")
while password !="123":
  password= input("try again")
print("logging in")

enter the password1
try again1
try again1
try again123
logging in

In [83]:
num=123
sum_digit=0
for digit in str(num):
  sum_digit=sum_digit+int(digit)
print(sum_digit)

6

In [88]:
for i in range(3):
  for j in range(3):
    print("m",end="m")
  print()

mmmmmm
mmmmmm
mmmmmm

In [92]:
words=["خوخ","باب","hack","print","lol"]
for word in words:
 if word==word[::-1]:
  print("palindrome")
 else:
  print("not palindrome ")

palindrome
palindrome
not palindrome
not palindrome
palindrome

In [103]:
list1=["name","age","id"]
list2=["mohamed",20,2]
dict1={}
for i in range(len(list1)):
  dict1[list1[i]]=list2[i]
print(dict1)

{'name': 'mohamed', 'age': 20, 'id': 2}

In [104]:
password = input("enter the password")
while password !="123":
  password= input("try again")
print("logging in")

enter the password123
logging in

In [106]:
num =1
for i in range(1,10):
  print(num,"*",i,"=",num*i)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9